@charset "UTF-8";


body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2px;
    margin-right: 5px;
}

#painel {
    /* height: 575px; */
    height: 85vh;
    overflow: auto;
    margin-bottom: 15px;
    box-shadow: 1px 2px 7px;
    border-radius: 5px;
}

#fundo {
    background-color: black;
    color: white
}

.tab-content {
    margin-bottom: 5px;
}

h5 {
    text-align: center;
    /* margin-top: 5px;
    margin-bottom: 3px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-image: repeating-radial-gradient(#7d2525, white, #7d2525); */
    width: 80%;
    margin-left: 10%;
    text-shadow: .5px .5px #4a8945;
    padding: 3px;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    /* width: 800px; */
}

.lastQ {
    font-weight: bolder;
    background-color: #198e3093;
    font-size: 16px;
}

caption {
    font-size: 1.2em;
    font-weight: bolder;
    padding: 20px;
}

thead,
.title {
    background-color: purple;
    /* background-color: #198e30; */
    color: white;
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

th, td {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
    height: 50px;
    max-height: 50px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
}

td:nth-child(2){
    text-align: left;
    font-size: 12.5px;
}

th {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

tbody>tr:nth-child(even) {
    background-color: rgba(202, 201, 202, 0.555);
}

tbody>tr:nth-child(odd) {
    background-color: white;
}

/* #container {
    overflow-x: auto;
} */

#startTempera {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.900);
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}

#restart, #starter {
    padding: 20px;
    font-size: 20px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

#starter {
    width: 400px;
    background-color: green;
}

.btn {
    width: 32%;
    margin-left: .3%;
}

.nav {
    display: none;
}

/*=====================================*/
/*========== RESULTADO FINAL ==========*/
/*=====================================*/

#resultFinal {
    border: 1px solid black;
    display: block;
    overflow: auto;
    width: 98vw;
    height: 67vh;
}

#sim {
    /* border: 1px solid black; */
    height: 50%;
    overflow: auto;
    /* display: flex; */
}

#nao {
    /* border: 1px solid blue; */
    height: 50%;
    overflow: auto;
    /* display: flex; */
}

h6 {
    text-align: center;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    margin-left: 10%;
    text-shadow: .5px .5px #4a8945;
}

#divH3 {
    /* border: 1px solid black; */
    text-align: center;
    text-decoration: underline;
    color: blue;
}





.myProgress {
    position: relative;
    width: 98%;
    height: 20px;
    background-color: rgb(189, 186, 186);
    margin: 1px;
    text-align: center;
    border-radius: 3px;
}
#sim > .myProgress > .myBar {
    position: absolute;
    /* width: 50%; */
    height: 100%;
    background-color: green;
}
#nao > .myProgress > .myBar {
    position: absolute;
    /* width: 50%; */
    height: 100%;
    background-color: red;
}

#smyBarCOL {
    width: 75%;
}
#smyBarSAN {
    width: 50%;
}
#smyBarMEL {
    width: 40%;
}
#smyBarFLE {
    width: 20%;
}

#nmyBarCOL {
    width: 90%;
}
#nmyBarSAN {
    width: 50%;
}
#nmyBarMEL {
    width: 25%;
}
#nmyBarFLE {
    width: 70%;
}